<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.category.capitalize %> restaurant</p>
<p><%= @restaurant.address.capitalize %></p>
<p>Phone: <%= @restaurant.phone_number %></p>
<h3>Reviews</h3>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>
      <p><%= review.content.capitalize %></p>
      <p><strong>Rating: <%= review.rating %></strong></p>
    </li>
  <% end %>
</ul>


<%= link_to "Restaurant list", restaurants_path, class: "btn btn-primary" %>
